<ng-container class="no-margin">

    <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

        <div class="toolbar-external-container">

            <mat-toolbar color="primary" *ngIf="!hiddenToolbar" class="toolbar-logly">
                
                <mat-toolbar-row>

                    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

                    <span>{{ 'general.title' | translate }}</span>
                    
                    <span class="filler"></span>

                    <!-- <button mat-icon-button routerLink="/logly/search" routerLinkActive="active">
                        <mat-icon>search</mat-icon>
                    </button>

                    <button mat-icon-button routerLink="/logly/add" routerLinkActive="active">
                        <mat-icon>plus_one</mat-icon>
                    </button> -->
                    
                </mat-toolbar-row>

            </mat-toolbar>
        </div>

        <mat-sidenav-container class="example-sidenav-container"
            [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

            <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                        [fixedInViewport]="mobileQuery.matches" 
                        fixedTopGap="0">

                <mat-nav-list>

                    <mat-list-item routerLink="/dashboard" (click)="snav.close();">
                        <mat-icon mat-list-icon>home</mat-icon>
                        <h4 mat-line>{{ 'menu.home' | translate }}</h4>
                    </mat-list-item>
                    
                </mat-nav-list>

            </mat-sidenav>
        
            <mat-sidenav-content class="content-padding">

                <router-outlet></router-outlet>
                
            </mat-sidenav-content>
            
        </mat-sidenav-container>
        
    </div>
    
</ng-container>